html {
	scroll-behavior: smooth;
	overflow: scroll;
	height: 100%;
}

#navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 1%;
	bottom: 1%;
}

nav a {text-decoration: none; } /* Navigation Links without underlines */
nav a:link {color: DodgerBlue}
nav a:visited {color: SlateBlue}
nav a:hover {color: Aqua;}
nav a:active {color: DarkSlateBlue}

abbr {text-decoration: none;}

h1 {
	text-align: center;
	padding: 1em;
	font-size: 3em;
}

h2 {
	text-align: center;
	padding: 1em;
	font-size: 2em;
}
